<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
</head>
<body>
	<main>
		<br> <br>
		<div class="login-div">
			<form class="login" th:action="@{/home/login}" method="POST">
				<h1 class="sign">Đăng nhập</h1>
				<span class="seperator"></span>
				<div class="input-text">
					<input type="text" name="username" placeholder="Tài khoản" autocomplete="username"/>
				</div>
				<div class="input-text">
					<input id="pass_signup" type="password" name="password"
						placeholder="Mật khẩu" autocomplete="current-password"/><i
						class="fa fa-fw fa-eye field-icon toggle-password"
						id="togglePassword"></i>
				</div>
				<div class="text-center text-danger fw-bolder">[[${message}]]</div>
				<span class="seperator"></span> <input class="signin-button"
					type="submit" value="Đăng nhập" />

				<div class="remember-flex">
					<div>
						<div class="or">OR</div>
						<div class="g-signin2 mt-3" data-onsuccess="onSignIn"
							data-theme="dark" data-width="250" data-height="50"
							data-longtitle="true"></div>
					</div>

				</div>
				

				<div class="login-face">
					<br>
					<div class="new-members">
						Chưa có tài khoản ? <a th:href="@{|/home/register|}"
							class="signup-link">Đăng kí tại đây</a>.
					</div>
					<br>
						<div class="new-members">
						Quên mật khẩu:<a  data-bs-toggle="modal" data-bs-target="#exampleModal"
							class="signup-link">Gửi email tại đây</a>.
					</div>
					<br>
					<div class="protection color_link help">
						This page is protected by Google reCAPTCHA to ensure you're not a
						bot.
						<div class="learnmore">
							<a href="#">Learn more.</a>
						</div>
					</div>
				</div>
			</form>
		</div>

		<script>
			$(".toggle-password").click(function() {
				$(this).toggleClass("fa-eye fa-eye-slash");
				if ($("#pass_signup").attr("type") == "password") {
					$("#pass_signup").attr("type", "text");
				} else {
					$("#pass_signup").attr("type", "password");
				}
			});
		</script>
		<!-- <script>
			function onSignIn(googleUser) {
				document.location.href = 'https://qazimaazarshad.github.io/Movie-Streaming-Website/home.html'
			}
		</script> -->
			<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<button type="button" class="btn-close ms-auto my-2 me-2"
					data-bs-dismiss="modal" aria-label="Close"></button>
				<div class="modal-body">
					<form th:action="@{/home/forget-pass}" 
								method="POST">
					<div class="card-body">
						<div class="form-floating mb-3">
												<input type="text" class="form-control" id="varify" name="matk"
													 placeholder="name"> <label
													for="floatingInput">Tên Đăng Nhập</label>
											</div>
											<div class="form-floating mb-3">
												<input type="email" id="email" name="email" class="form-control"
												 placeholder="Password"> <label
													for="floatingPassword">Email</label>
											</div>
								
											

											<div class="d-grid">
												<button
													class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
													type="submit">Send</button>
												
											</div>

							
							
					</div>
					</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	const myModal = document.getElementById('myModal')
	const myInput = document.getElementById('myInput')
	
	myModal.addEventListener('shown.bs.modal', () => {
	  myInput.focus()
	})
	</script>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	</main>
</body>
</html>
