<!-- Content Wrapper -->
<div class="page-wrapper py-2 w-100">
	<!-- Container fluid  -->
	<div class="container-fluid">
		<!-- Sales Cards  -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="alert alert-info text-center">Danh sách nhân viên</h3>
				<table class="table text-center">
					<thead>
						<tr>
							<th style="font-weight: bolder; font-size: 18px">Hình ảnh</th>
							<th style="font-weight: bolder; font-size: 18px">Tài khoản</th>
							<th style="font-weight: bolder; font-size: 18px">Mật khẩu</th>
							<th style="font-weight: bolder; font-size: 18px">Tên</th>
							<th style="font-weight: bolder; font-size: 18px">Ngày sinh</th>
							<th style="font-weight: bolder; font-size: 18px">SĐT</th>
							<th style="font-weight: bolder; font-size: 18px">Địa chỉ</th>
							<th style="font-weight: bolder; font-size: 18px">Vai trò</th>
							<th style="font-weight: bolder; font-size: 18px">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager.items">
							<td style="width: 150px;"><img ng-src="/assets/Images/{{item.hinh}}" alt=""
								width=30% /></td>
							<td>{{item.taikhoan.username}}</td>
							<td><a class='btn btn-warning' style="font-size: 14px"
								ng-click="edit(item)"> <span
									class="glyphicon glyphicon-edit"></span> Edit
							</a> <a href="/admin/staff/delete/${item.Manv}"
								style="font-size: 14px" class="btn btn-danger btn-xs"> <span
									class="glyphicon glyphicon-remove"></span> Delete
							</a></td>
						</tr>
					</tbody>
				</table>
				<hr />
				<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
					<a class="btn text-white "
						style="width: 100px; background: #0a58ca;"
						ng-click="pager.first()">First</a> <a class="btn  text-white"
						style="width: 100px; background: #0a58ca;" ng-click="pager.prev()">Previous</a>
					<a class="btn  text-white"
						style="width: 100px; background: #0a58ca;" ng-click="pager.next()">Next</a>
					<a class="btn  text-white"
						style="width: 100px; background: #0a58ca;" ng-click="pager.last()">Last</a>
				</div>
				<hr />
			</div>
		</div>
	</div>
	<!-- End Container fluid  -->
</div>
<!-- End of Content Wrapper -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i
	class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready
				to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>
